.footer-main {
  /* background-color: #0f172a; dark slate */
  background: linear-gradient(135deg, #0953a7, #01194d);
height: 3.5rem;
border-radius: 10px;
  color: white;
  padding: 30px;
  text-align: center;
}

.media-icons {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  gap: 15px;
  
}

.media-icons a {
  color: white;
  transition: color 0.3s ease;
;
}

.media-icons a:hover {
  color: #dc2626; /* red-600 */
}

.media-icons i {
  justify-content: center;
}