.team-setup-page {
  padding: 20px;
  text-align: center;
  background: linear-gradient(to right, #000000, #0f1e3a);
  color: white;
  min-height:80vh;
  font-family: Arial, sans-serif;
 
}

.team-setup-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 20px;
  margin-top: 20px;
}

.team-card {
  background: rgba(255, 255, 255, 0.05);
  border: 1px solid #ffff;
  border-radius: 10px;
  padding: 20px;
  width: 30%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.team-card input[type="text"] {
  display: block;
  width: 90%;
  margin: 8px 0;
  padding: 8px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.players-section {
  margin-top: 10px;
 
  
}

.players-section h4 {
  margin-bottom: 10px;
}

.players-section :is(button) {
  margin: 6px;
  padding: 6px 12px;
  background-color: #0d6efd;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}



.center-image {
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.center-image img {
  max-width: 100%;
  max-height: 300px;
  border-radius: 10px;
}

.button-group {
  margin-top: 30px;
  display: flex;
  gap: 20px;
  justify-content: center;
}

.submit-button,
.next-button {
  padding: 10px 30px;
  border: none;
  color: white;
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
}

.submit-button {
  background-color: #28a745;
}

.next-button {
  background-color: #007bff;
}
.back-button {
 padding: 10px 30px;
  border: none;
  background-color: red;
 color: white;
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;

 
}
